.header{
    width: 100%;
    height: 70px;
    background-color: aquamarine;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:25;
    color: white;
    padding: 25px,10px;
}